<app-navigation></app-navigation>
<div class="c-body">
  <div class="c-pagename">
      <h1 class="c-page-title">Programs</h1>
  </div>
  <div class="c-content">
    <p class="c-description">
        Necessiti is a one-stop shop designed
        to help social workers quickly find the
        resources they need to make life
        easier. <br/>
        Some of our sponsors include:
    </p>
    <p class="c-title">Through our sponsors, we provide services such as:</p>
    <div class="c-grid-body">
        <section class="c-grid-container">
            <div class="c-grid-item-a">
                <img src ="../../assets/program1.jpeg" alt="image not found" width="100%" height="100%"/>
            </div>
            <div class="c-grid-item-b">
                <img src ="../../assets/program2.jpeg" alt="image not found" width="100%" height="100%"/>
            </div>
            <div class="c-grid-item-c">
                <img src ="../../assets/program3.jpeg" alt="image not found" width="100%" height="100%"/>
            </div>
            <div class="c-grid-item-d">
                <img src ="../../assets/program4.jpeg" alt="image not found" width="100%" height="100%"/>
            </div>
            <div class="c-grid-item-e">
                <img src ="../../assets/program5.jpeg" alt="image not found" width="100%" height="100%"/>
            </div>
            <div class="c-grid-item-f">
                <img src ="../../assets/program6.jpeg" alt="image not found" width="100%" height="100%"/>
            </div>
        </section>
    </div>
  </div>
</div>
<app-footer></app-footer>