.c-body{
    width: 100%;
    height: 1092px;
    font-family: "Avenir Next" !important;
}

.c-pagename{
    position: absolute;
    height: 125px;
    width: 100%;
    top: 69px;
    background-image: url("../../assets/logo1.jpeg");
    background-repeat:no-repeat;
    background-size:cover;
    background-position: center;
}

.c-content{
    position: relative;
    width: 1280px;
    margin: auto;
    height: 1144px;
}

.c-page-title{
    font-size: 48px;
    font-weight: bold;
    text-align: left;
    font-family: Comfortaa;
    color: #FFFFFF;
    margin: 40px;
}

.c-title{
    position: absolute;
    top: 274px;
    left: 217px;
    font-size: 36px;
    text-align: center;
    font-weight: lighter;
}

.c-grid-container{
    display: inline-grid;
    grid-template-columns: 303.92px 303.92px 303.92px;
    grid-template-rows: 202.61px 202.61px;
    width: 911.76px;
    position: absolute;
    top: 403px;
    left: 230.92px;
}

.c-grid-item-a {
    grid-column: 1;
}

.c-grid-item-b {
    grid-column: 2;
}

.c-grid-item-c {
    grid-column: 3;
}

.c-grid-item-d {
    grid-column: 1;
}

.c-grid-item-e {
    grid-column: 2;
}

.c-grid-item-f {
    grid-column: 3;
}

