<div class="c-body">
    <div class="c-childbody">
        <div class="c-image-body">
                <img class="c-image" src="../../assets/aboutus.jpeg" width="1280px" height="856px" alt="image not found"/>
        </div>
        <p class="c-captions">Children studying in cage homes (Source)</p>
        <h1 class="c-title1">Our Story</h1>
        <p class="c-description1">
            One in five people in Hong Kong is living under the poverty line. Many <br/>
            stay in cage homes and struggle to pay their monthly bill. <br/>
            <br/>
            Unknowingly, there are many resources offered by NGO’s, tech <br/>
            corporations, SME’s, and startups, such as donation, day care centers, <br/>
            non-traditional courses, and workshops. <br/>
            <br/>
            Therefore, Necessiti’s vision is to connect with the 600,000 families living <br/>
            in poverty in Hong Kong with more than 800 NGO’s and tech-impact <br/>
            solutions through one platform. Our objective is to empower families so <br/>
            they can worry less about their financial situations and help unleash their <br/>
            growth potential.
        </p>
        <h1 class="c-title2">Why, What, Why</h1>
        <div class="c-ellipse1"></div>
        <div class="c-ellipse2"></div>
        <div class="c-ellipse3"></div>
        <canvas #canvasEl1 id="c-canvas1" width="303.93px" height="264.18px"></canvas>
        <canvas #canvasEl2 id="c-canvas2" width="287.56px" height="151.96px"></canvas>
        <canvas #canvasEl3 id="c-canvas3" width="241.27px" height="65.46px"></canvas>
        <h3 class="c-subtitle1">Core Values</h3>
        <p class="c-description2">
                We believe in social equality, community <br/>
                connectivity, and the impact which new <br/>
                technologies have.
        </p>
        <h3 class="c-subtitle2">Goal</h3>
        <p class="c-description3">
                Our goal is to alleviate poverty in Hong <br/>
                Kong through a platform of online <br/>
                services and resources.
        </p>
        <h3 class="c-subtitle3">Mission</h3>
        <p class="c-description4">
                Our mission is to help people in need <br/>
                meet their need through a reliable <br/>
                platform of free resources (donation <br/>
                centers, food/homeless shelters), <br/>
                employment opportunities via online <br/>
                skills training (coding schools, English <br/>
                lessons), and free events.
        </p>
        <h1 class="c-title3">Our Solution</h1>
        <div class="c-image-body2">
            <img class="c-image2" src="../../assets/oursolution.png" width="753px" height="753px" alt="image not found"/>
        </div>
        <p class="c-description5">
            Currently, there is a lack of communication and clarity between what the <br/>
            government, NGO's, startups, and corporations provide for the poor. <br/>
            <br/>
            Our solution is to provide a one-stop platform that allows low-income <br/>
            and at-risk families and individuals to easily browse and pick all resources <br/>
            available to them according to their specific needs.
        </p>
    </div>
</div>