.c-body{
    width: 100%;
    height: 1000px;
    font-family: "Avenir Next" !important;
}

.c-pagename{
    position: absolute;
    height: 125px;
    width: 100%;
    top: 69px;
    background-image: url("../../assets/logo3.jpeg");
    background-repeat:no-repeat;
    background-size:cover;
    background-position: center;
}

.c-content{
    position: relative;
    width: 1280px;
    margin: auto;
    height: 1144px;
}

.c-page-title{
    font-size: 48px;
    font-weight: bold;
    text-align: left;
    font-family: Comfortaa;
    color: #FFFFFF;
    margin: 40px;
}

.c-title{
    position: absolute;
    top: 245px;
    left: 303.02px;
    color: #00A99D;
    font-size: 48px;
    font-weight: bold;
}

.c-description{
    position: absolute;
    top: 356px;
    left: 184px;
    font-size: 36px;
    text-align: center;
}