<app-navigation></app-navigation>
<div class="c-body">
  <div class="c-childbody">
    <div class="c-pagename">
        <h1 class="c-page-title">Sign Up</h1>
    </div>
    <h1 class="c-title"><b>12:20:03 Left to Sign Up!</b></h1>
    <p class="c-desciption">If you’re interested in signing up, please provide your email <br/>
      and we’ll contact you with the next steps!</p>
    <input class="c-input1" type="text" placeholder="Email" />
    <p class="c-or">OR</p>
    <input class="c-input2" type="text" placeholder="WhatsApp Number" />
    <input class="c-submit" type="submit" value="Sign Up" />
  </div>
</div>
<app-footer></app-footer>