<app-navigation></app-navigation>
<div class="c-body">
  <div class="c-pageimage">
      <h1 class="c-page-title">Sign Up</h1>
  </div>
  <div class="c-content">
    <h1 class="c-title"><b>12:20:03 Left to Sign Up!</b></h1>
    <p class="c-desciption">If you’re interested in signing up, please provide your email <br/>
      and we’ll contact you with the next steps!</p>
    <form class="c-form">
      <input class="c-input1" type="text" placeholder="Email" />
      <p class="c-or">OR</p>
      <input class="c-input2" type="text" placeholder="WhatsApp Number" />
      <input class="c-submit" type="submit" value="Sign Up">
    </form>
  </div>
</div>
<app-footer></app-footer>