.c-body{
    position:relative;
    width: 1280px;
    height: 1144px;
    margin: 0 auto;
}

.c-childbody{
    font-family: "Avenir Next" !important;
}

.c-pagename{
    position: absolute;
    height: 125px;
    width: 100%;
    top: 69px;
    background-image: url("../../assets/logo3.jpeg");
    background-repeat:no-repeat;
    background-size:1504px 1000px;
    background-position: center;
}

.c-page-title{
    font-size: 48px;
    font-weight: bold;
    text-align: left;
    font-family: Comfortaa;
    color: #FFFFFF;
    margin: 40px;
}

.c-title{
    position: absolute;
    font-size: 48px;
    top: 245px;
    left: 312.02px;
    color: #00A99D;
}

.c-desciption{
    position: absolute;
    font-size: 36px;
    top: 361px;
    left: 111px;
    text-align: center;
}

.c-input1{
    position: absolute;
    top: 600px;
    left: 209px;
    width: 862.67px;
    height: 85px;
    font-size: 36px;
    color: #707070;
}

.c-or{
    position: absolute;
    top: 764px;
    left:614px;
    font-size: 36px;
}

.c-input2{
    position: absolute;
    top: 892px;
    left: 209px;
    width: 862.67px;
    height: 85px;
    font-size: 36px;
    color: #707070;
}

.c-submit{
    position: absolute;
    top: 1159px;
    left: 209px;
    width: 862.67px;
    height: 85px;
    font-size: 36px;
    background-color: #00A99D;
    color: #FFFFFF;
}