<app-navigation></app-navigation>
<div class="c-body">
  <div class="c-childbody">
    <div class="c-pagename">
        <h1 class="c-page-title">Contact</h1>
    </div>
    <h1 class="c-title">Contact Us & Get Involved</h1>
    <p class="c-description1">1. Become a provider on Necessiti to give families in need access to <br/>
      your product and services by listing your organization on the platform.<br/>
    <br/>
     2. Become our corporate partner and individuals sponsors to offer <br/>
     Sponsorship for families in need to access paid resources. <br/>
     <br/>
    3. Become a volunteer to realize your value in helping families in need <br/>
    groups and support our vision for creating a sustainable, long-term <br/>
    impact. </p>

    <p class="c-description2">For business inquiries, please contact Jessie Huang at <a href = "mailto: jessie@necessiti.org">jessie@necessiti.org</a>.<br/>
    For technical inquiries and reporting, please contact Caleb Yang at <a href = "mailto: caleb@necessiti.org">caleb@necessiti.org</a>.<br/>
    <br/>
    For those interested in learning more, sign up to our mailing list to follow our latest news and updates.</p> 
  </div>
</div>
<app-footer></app-footer>