<app-navigation></app-navigation>
<div class="c-body">
  <div class="c-pagename">
      <h1 class="c-page-title">Meet the Team!</h1>
  </div>
  <div class="c-content">
      <section class="c-grid-container">
        <div class="c-grid-item-a">
          <div class="c-placeholder"></div>
          <p class="c-caption">
            <b>Jessie Huang</b> <br/>
            Co-Founder, CEO
          </p>
        </div>
        <div class="c-grid-item-b">
          <img src ="../../assets/Caleb.png" alt="image not found"/>
          <p class="c-caption">
            <b>Caleb Yang</b> <br/>
            Co-Founder, CTO
          </p>
        </div>
        <div class="c-grid-item-c">
          <div class="c-placeholder"></div>
          <p class="c-caption">
            <b>Abu Noman Md</b> <br/>
            Saleh Digital Marketing Manager
          </p>
        </div>
        <div class="c-grid-item-d">
          <img src="../../assets/IMG_20171009_003257_075.png" alt="image not found"/>
          <p class="c-caption">
            <b>Justin Salamanca</b> <br/>
            UX/UI Designer
          </p>
        </div>
        <div class="c-grid-item-e">
          <div class="c-placeholder"></div>
          <p class="c-caption">
            <b>Saleh Digital</b>
            Marketing Manager 
          </p>
        </div>
      </section>
      <h1 class="c-title">Board of Advisors</h1>
      <p class="c-advisor-1"></p>
      <div class="c-advisor-description-1">
        <h2>Veronica Fung </h2>
        <b>APAC, Société Générale </b> <br/>
        Chief of Staff & Vice-President of Operations <br/>
        <b>FoundMe</b> <br/>
        Co-Founder, CEO
      </div>
      <p class="c-advisor-2"></p>
      <div class="c-advisor-description-2">
        <h2>Jan Engels</h2> 
        <b>Opharmic Technology </b> <br/>
        Co-Founder <br/>
        <b>Global Shaper Hong Kong Hub</b> <br/>
        Vice-Curator
      </div>
  </div>
</div>
<app-footer></app-footer>