.c-body{
    width: 100%;
    height: 2300px;
    font-family: "Avenir Next" !important;
}

.c-page-title{
    font-size: 48px;
    font-weight: bold;
    text-align: left;
    font-family: Comfortaa;
    color: #FFFFFF;
    margin: 40px;
}

.c-pageimage{
    position: absolute;
    height: 125px;
    width: 100%;
    top: 69px;
    background-image: url("../../assets/logo2.jpeg");
    background-repeat:no-repeat;
    background-size:cover;
    background-position: center;
}

.c-content{
    position: relative;
    max-width: 1280px;
    margin: auto;
    height: 1144px;
}

.c-grid-container{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-column-gap: 30px;
    grid-row-gap: 100px;
    position: relative;
    top: 301px;
    margin: auto;
    width: 80%;
}

.c-placeholder{
    border: 1px solid #707070;
    width: 100%;
    border-radius: 50%;
    padding-top: 100%;
}

.c-image{
    border: 1px solid pink;
    border-radius: 50%; 
    width: 100%;
    padding-top: 100%;
}

.c-caption{
    text-align: center;
    margin-top:25px;
    font-size: 24px;
    width: 100%;
}

.c-grid-container2{
    position: relative;
    top: 500px;
    margin:auto;
    width: 90%;
}

.c-title{
    font-size: 48px;
    text-align: center;
    font-weight: bold;
    padding: 50px;
}

.c-judge-item{
    position: relative;
    display: grid;
    grid-template-columns: 30% 70%;
    grid-template-rows: 100%;
    margin: 100px auto;
}

.aspect-ratio-box-inside {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.flexbox-centering {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }

.viewport-sizing {
    font-size: 2.5vw;
}

.c-judge-item > [style^='--aspect-ratio']::before {
    content: "";
    display: inline-block;
    width: 1px;
    height: 0;
    padding-bottom: calc(40% / (var(--aspect-ratio)));
}

.c-judge-date{
    position: relative;
    background-color: #707070;
    color: #FFFFFF;
    text-align: center;
}

.c-judge-content{
    position: relative;
}

.c-judge-content-title{
   text-align: center;
   text-decoration: underline;
   font-weight: bold;
}

.c-judge-content-position{
    font-weight: bold;
    text-align: center;
}

.c-judge-content-description{
    text-align: center;
}

@media screen and (max-width:900px) {
    .c-title{
        font-size: 40px;
    }

    .c-grid-container{
        width: 90%;
        grid-column-gap: 20px;
        grid-row-gap: 80px;
    }

    .c-caption{
        font-size: 20px;
        width: 100%;
    }
}

@media screen and (max-width:500px) {
    .c-title{
        font-size: 30px;
    }

    .c-page-title{
        position: absolute;
        margin-top:60px;
        font-size: 30px;
    }

    .c-grid-container{
        width: 100%;
        grid-column-gap: 10px;
        grid-row-gap: 60px;
    }

    .c-caption{
        font-size: 15px;
        width: 100%;
    }
}


