<app-navigation></app-navigation>
<div class="c-body">
  <div class="c-pageimage">
      <h1 class="c-page-title">Meet the Team!</h1>
  </div>
  <div class="c-content">
      <section class="c-grid-container">
        <div class="c-grid-item">
          <div class="c-placeholder"></div>
          <p class="c-caption">
            <b>Jessie Huang</b> <br/>
            Co-Founder, CEO
          </p>
        </div>
        <div class="c-grid-item">
          <div class="c-placeholder"></div>
          <p class="c-caption">
            <b>Caleb Yang</b> <br/>
            Co-Founder, CTO
          </p>
        </div>
        <div class="c-grid-item">
          <div class="c-placeholder"></div>
          <p class="c-caption">
            <b>Abu Noman Md</b> <br/>
            Saleh Digital Marketing Manager
          </p>
        </div>
        <div class="c-grid-item">
          <div class="c-placeholder"></div>
          <p class="c-caption">
            <b>Justin Salamanca</b> <br/>
            UX/UI Designer
          </p>
        </div>
        <div class="c-grid-item">
          <div class="c-placeholder"></div>
          <p class="c-caption">
            <b>Saleh Digital</b>
            Marketing Manager 
          </p>
        </div>
      </section>

      <section class="c-grid-container2">
        <h1 class="c-title">Board of Advisors</h1>
        <!-- First Item -->
        <div class="c-judge-item">    
            <div class="c-judge-date" style="--aspect-ratio: 2/1;">
              <div class="aspect-ratio-box-inside">
                <div class="flexbox-centering">
                  <div class="viewport-sizing">
                  </div>
                </div>
              </div>
            </div>
            <div class="c-judge-content" style="--aspect-ratio: 1/1;">
              <div class="aspect-ratio-box-inside">
                <div class="flexbox-centering">
                  <div class="viewport-sizing">
                    <p class="c-judge-content-position">Veronica Fung</p>
                    <p class="c-judge-content-position">APAC, Société Générale</p>
                    <p class="c-judge-content-description">Chief of Staff & Vice-President of Operations</p>
                    <p class="c-judge-content-position">FoundMe</p>
                    <p class="c-judge-content-description">Co-Founder, CEO</p>
                  </div>
                </div>
              </div>
            </div> 
          </div>  

           <!-- Second Item -->
        <div class="c-judge-item">    
            <div class="c-judge-date" style="--aspect-ratio: 2/1;">
              <div class="aspect-ratio-box-inside">
                <div class="flexbox-centering">
                  <div class="viewport-sizing">
                  </div>
                </div>
              </div>
            </div>
            <div class="c-judge-content" style="--aspect-ratio: 1/1;">
              <div class="aspect-ratio-box-inside">
                <div class="flexbox-centering">
                  <div class="viewport-sizing">
                    <p class="c-judge-content-position">Jan Engels</p>
                    <p class="c-judge-content-position">Opharmic Technology</p>
                    <p class="c-judge-content-description">Co-Founder</p>
                    <p class="c-judge-content-position">Global Shaper Hong Kong Hub</p>
                    <p class="c-judge-content-description">Vice-Curator</p>
                  </div>
                </div>
              </div>
            </div> 
          </div>  
      </section>
  </div>
</div>
<app-footer></app-footer>