.c-body{
    width: 100%;
    height: 2000px;
    font-family: "Avenir Next" !important;
}

.c-page-title{
    font-size: 48px;
    font-weight: bold;
    text-align: left;
    font-family: Comfortaa;
    color: #FFFFFF;
    margin: 40px;
}

.c-pageimage{
    position: absolute;
    height: 125px;
    width: 100%;
    top: 69px;
    background-image: url("../../assets/logo2.jpeg");
    background-repeat:no-repeat;
    background-size:cover;
    background-position: center;
}

.c-content{
    position: relative;
    max-width: 1280px;
    margin: auto;
    height: 1144px;
}

.c-grid-container{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    grid-column-gap: 50px;
    grid-row-gap: 100px;
    position: relative;
    top: 301px;
    margin: auto;
    width: 70%;
}

.c-placeholder{
    background-color: #707070;
    height:200px;
    width: 200px;
}

.c-caption{
    text-align: center;
    margin-top:25px;
    font-size: 24px;
    width: 200px;
}

.c-title{
    position: relative;
    top: 450px;
    font-size: 36px;
    text-align: center;
}

.c-advisorbox1{
    position: relative;
    top: 500px;
    width: 60%;
    margin: auto;
}

.c-advisor-1{
    background-color: #707070;
    float: left;
    width: 200px;
    height: 200px;
}

.c-advisor-description-1{
    font-size: 25px;
    margin-left: 50px;
    text-align: center;
}

.c-advisorbox2{
    clear:both;
    position: relative;
    top: 600px;
    width: 60%;
    margin: auto;
    height: 300px;
}

.c-advisor-2{
    background-color: #707070;
    float: left;
    width: 200px;
    height: 200px;
}

.c-advisor-description-2{
    font-size: 25px;
    margin-left: 50px;
    text-align: center;
}