<app-navigation></app-navigation>
<div class="c-body">
  <div class="c-image">
    <p class="c-image-description">
      Connecting the people in need with the basic<br/>
      necessities and opportunities <br/>
      for growth.
    </p>
    <button class="c-learn" type="button">Learn More</button>
  </div>
  <div class="c-content">
      <p class="c-description">
          Necessiti is an only-stop platform for anyone 
          that needs help seeking free and affordable 
          resources. 
          <br/>
          <br/>
          Necessiti is a community made for families
          and individuals in need who believe in a 
          better future.
        </p>
      <div class="c-programs">
        <div class="c-section1">
            <h1 class="c-title1">Programs</h1>
          </div>
          <p class="c-description2">With our network, we provide help for finding resources such as:</p>
          <section class="c-grid-container">
            <div class="c-grid-item">
              <div class='c-imagealign'>
                  <img class="c-pimage" src="../../assets/program1.jpeg" alt="image not found">
              </div>
              <p class="c-caption">
                <b>Donation Centers</b>
              </p>
            </div>
            <div class="c-grid-item">
                <div class='c-imagealign'>
                    <img class="c-pimage" src="../../assets/program2.jpeg" alt="image not found">
                </div>
              <p class="c-caption">
                <b>Housing Solutions</b>
              </p>
            </div>
            <div class="c-grid-item">
                <div class='c-imagealign'>
                    <img class="c-pimage" src="../../assets/program3.jpeg" alt="image not found">
                </div>
              <p class="c-caption">
                <b>Child Care Centers</b>
              </p>
            </div>
            <div class="c-grid-item">
                <div class='c-imagealign'>
                    <img class="c-pimage" src="../../assets/program6.jpeg" alt="image not found">
                </div>
              <p class="c-caption">
                <b>Upskill Training</b>
              </p>
            </div>
            <div class="c-grid-item">
                <div class='c-imagealign'>
                    <img class="c-pimage" src="../../assets/program5.jpeg" alt="image not found">
                </div>
              <p class="c-caption">
                <b>Job Opportunities</b>
              </p>
            </div>
            <div class="c-grid-item">
                <div class='c-imagealign'>
                    <img class="c-pimage" src="../../assets/program4.jpeg" alt="image not found">
                </div>
              <p class="c-caption">
                <b>Elderly Care Centers</b>
              </p>
            </div>
          </section>
      </div>
      <div class="c-section2">
        <h1 class="c-title2">Upcoming Events</h1>
      </div>
      <p class="c-more">View More</p>
      <section class="c-grid-container2">
        <!-- First Item -->
        <div class="c-event-item">    
          <div class="c-event-date" style="--aspect-ratio: 2/1;">
            <div class="aspect-ratio-box-inside">
              <div class="flexbox-centering">
                <div class="viewport-sizing">
                    Wed 3 Apr
                </div>
              </div>
            </div>
          </div>
          <div class="c-event-content" style="--aspect-ratio: 1/1;">
            <div class="aspect-ratio-box-inside">
              <div class="flexbox-centering">
                <div class="viewport-sizing">
                  <p class="c-event-content-title">Dragon Boat Festival DIY Workshop</p>
                  <p class="c-event-content-timing">6:00pm - 9:00pm</p>
                  <p class="c-event-content-description">f, G, 16 Min Fat St, Happy Valley, Hong Kong</p>
                </div>
              </div>
            </div>
          </div> 
        </div>

        <!-- Second Item -->
        <div class="c-event-item">    
          <div class="c-event-date" style="--aspect-ratio: 2/1;">
            <div class="aspect-ratio-box-inside">
              <div class="flexbox-centering">
                <div class="viewport-sizing">
                    Fri 12 Apr
                </div>
              </div>
            </div>
          </div>
          <div class="c-event-content" style="--aspect-ratio: 1/1;">
            <div class="aspect-ratio-box-inside">
              <div class="flexbox-centering">
                <div class="viewport-sizing">
                  <p class="c-event-content-title">Budgeting Seminar (Presented by Wei)</p>
                  <p class="c-event-content-timing">5:00pm - 6:00pm</p>
                  <p class="c-event-content-description">Hong Kong, Yau Tong, Ko Fai Rd, 17 號 Unit 715-717, Block A2 Yau Tong Industrial City</p>
                </div>
              </div>
            </div>
          </div> 
        </div>

        <!-- Thrid Item -->
        <div class="c-event-item">    
          <div class="c-event-date" style="--aspect-ratio: 2/1;">
            <div class="aspect-ratio-box-inside">
              <div class="flexbox-centering">
                <div class="viewport-sizing">
                    Mon 15 Apr
                </div>
              </div>
            </div>
          </div>
          <div class="c-event-content" style="--aspect-ratio: 1/1;">
            <div class="aspect-ratio-box-inside">
              <div class="flexbox-centering">
                <div class="viewport-sizing">
                  <p class="c-event-content-title">“Retired but Not Hired” Job Fair</p>
                  <p class="c-event-content-timing">7:00pm - 9:00pm</p>
                  <p class="c-event-content-description">Garage Society, Sheungwan</p>
                </div>
              </div>
            </div>
          </div> 
        </div>
      </section>
      <section class="c-contactus">
        <p class="c-contact-description">Sign Up to Receive the Latest Community Updates and Resources!</p>
        <form class="c-form">
          <input class="c-input1" type="text" placeholder="Email" />
          <p class="c-or">Or</p>
          <input class="c-input2" type="text" placeholder="WhatsApp Number" />
          <input class="c-submit" type="submit" value="Sign Up">
        </form>
      </section>
      <app-footer></app-footer>
    </div>
  </div>