<app-navigation></app-navigation>
<div class="c-body">
  <div class="c-image">
    <p class="c-image-description">
      Connecting the people in need with the <br/>
      basic necessities and opportunities <br/>
      for growth.
    </p>
  </div>
  <div class="c-content">
    <div class="c-about">
        <p class="c-description">
            Necessiti is an only-stop platform for anyone <br/>
            that needs help seeking free and affordable <br/>
            resources. <br/>
            <br/>
            Necessiti is a community made for families <br/>
            and individuals in need who believe in a <br/>
            better future.
          </p>
          <button class="c-learn" type="button">Learn More</button>
      </div>
      <div class="c-programs">
        <div class="c-section1">
            <h1 class="c-title1">Programs</h1>
          </div>
          <p class="c-description2">With our network, we provide help for finding resources such as:</p>
          <section class="c-grid-container">
            <div class="c-grid-item">
              <div class='c-imagealign'>
                  <img class="c-pimage" src="../../assets/program1.jpeg" alt="image not found">
              </div>
              <p class="c-caption">
                <b>Donation Centers</b>
              </p>
            </div>
            <div class="c-grid-item">
                <div class='c-imagealign'>
                    <img class="c-pimage" src="../../assets/program2.jpeg" alt="image not found">
                </div>
              <p class="c-caption">
                <b>Housing Solutions</b>
              </p>
            </div>
            <div class="c-grid-item">
                <div class='c-imagealign'>
                    <img class="c-pimage" src="../../assets/program3.jpeg" alt="image not found">
                </div>
              <p class="c-caption">
                <b>Child Care Centers</b>
              </p>
            </div>
            <div class="c-grid-item">
                <div class='c-imagealign'>
                    <img class="c-pimage" src="../../assets/program6.jpeg" alt="image not found">
                </div>
              <p class="c-caption">
                <b>Upskill Training</b>
              </p>
            </div>
            <div class="c-grid-item">
                <div class='c-imagealign'>
                    <img class="c-pimage" src="../../assets/program5.jpeg" alt="image not found">
                </div>
              <p class="c-caption">
                <b>Job Opportunities</b>
              </p>
            </div>
            <div class="c-grid-item">
                <div class='c-imagealign'>
                    <img class="c-pimage" src="../../assets/program4.jpeg" alt="image not found">
                </div>
              <p class="c-caption">
                <b>Elderly Care Centers</b>
              </p>
            </div>
          </section>
      </div>
      <div class="c-section2">
        <h1 class="c-title2">Upcoming Events</h1>
      </div>
      <p class="c-more">View More</p>
      <section class="c-grid-container2">
        <div class="c-event-item">
          <div class="c-event-date">Wed <br/> 3 Apr</div>
          <div class="c-event-content">
            <h1 class="c-event-content-title">Dragon Boat Festival DIY Workshop</h1>
            <p class="c-event-content-timing">6:00pm - 9:00pm</p>
            <p class="c-event-content-description">f, G, 16 Min Fat St, Happy Valley, Hong Kong</p>
          </div>
        </div>
        <div class="c-event-item">
          <div class="c-event-date">Fri <br/> 12 Apr</div>
          <div class="c-event-content">
            <h1 class="c-event-content-title">Budgeting Seminar (Presented by Wei)</h1>
            <p class="c-event-content-timing">5:00pm - 6:00pm</p>
            <p class="c-event-content-description">Hong Kong, Yau Tong, Ko Fai Rd, 17 號 Unit 715-717, Block A2 Yau Tong Industrial City</p>
          </div>
        </div>
        <div class="c-event-item">
          <div class="c-event-date">Mon <br/> 15 Apr</div>
          <div class="c-event-content">
            <h1 class="c-event-content-title">“Retired but Not Hired” Job Fair</h1>
            <p class="c-event-content-timing">7:00pm - 9:00pm</p>
            <p class="c-event-content-description">Garage Society, Sheungwan</p>
          </div>
        </div>
      </section>
      <section class="c-contactus">
        <p class="c-contact-description">Sign Up to Receive the Latest Community Updates and Resources!</p>
        <form class="c-form">
          <input class="c-input1" type="text" placeholder="Email" />
          <p class="c-or">OR</p>
          <input class="c-input2" type="text" placeholder="WhatsApp Number" />
          <input class="c-submit" type="submit" value="Sign Up">
        </form>
      </section>
      <app-footer></app-footer>
    </div>
  </div>